<div class="card fluid">
  <div class="section">
    <h1 id="about">About</h1>
    <p>Colorado has a large running community. It is daunting to navigate all the meetups and events.</p>
    <p>Colorado Runners aggregates running groups, stores, etc. for convenience. Hoping to help grow the community.</p>
  </div>
</div>
<% @events_by_city.each do |city, events_by_dates| %>
  <div class="card fluid">
    <div class="section">
    <h1 id="<%= city.slug %>"><%= city.to_s %></h1>
      <% if events_by_dates.length.zero? %>
        <p>There are currently no events scheduled in this area.</p>
      <% end %>
    </div>
    <% events_by_dates.keys.sort.each do |date| %>
      <% events = events_by_dates[date] %>
      <div class="section">
        <h2><%= date.strftime('%A, %B %d, %Y') %></h2>
      </div>
      <div class="section">
	      <% events.sort_by(&:timestamp).each do |event| %>
          <h3>
            <a href="<%= event.link %>" title="<%= event.title %>" target="_blank" rel="noopener"><%= event.title %></a>
            <small>
              hosted by <a href="https://facebook.com/<%= event.group.id %>" target="_blank" rel="noopener"><%= event.group.name %></a>
            </small>
          </h3>
          <p>Start: <%= event.timestamp.strftime("%I:%M %p") %></p>
          <% if event[:location] %>
             <p>Location: <a href="https://www.google.com/maps?q=<%= URI.escape(event.location) %>" target="_blank" rel="noopener"><%= event.location %></a></p>
          <% end %>
          <%= Kramdown::Document.new(event.description || '').to_html %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
